@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@700&display=swap')

.pop-up
    position: relative
    left: 0
    background-color: rgba(black, 0.75)
    color: #ffffff
    text-align: center
    font: 20px 'Poppins', sans-serif

.restart-button
    width: 160px
    height: 40px
    border-radius: 20px
    border-style: none
    background: #ffffff
    transition: 0.3s

.restart-button:hover
    background: #dd9f58
    color: #ffffff
    transition: 0.3s

.tile
    width: 25px
    height: 25px
    background: #3a3a3a
    font: 15px 'Poppins', sans-serif
    text-align: center
    border-top: 4px solid #5d5d5d
    border-left: 4px solid #5d5d5d
    border-right: 4px solid #1b1b1b
    border-bottom: 4px solid #1b1b1b

.flagged
    background-color: #3a3a3a
    background-image: url('flag.png')
    background-position: center
    background-size: 80%
    background-repeat: no-repeat

.revealed
    background: #414141
    border: 2px solid #1b1b1b

.nuke
    background: #7c3e3e

.val-1::after
    content: '1'
    color: #79acff
.val-2::after
    content: '2'
    color: #a1ff94
.val-3::after
    content: '3'
    color: #ffafaf
.val-4::after
    content: '4'
    color: #9ffff4
.val-5::after
    content: '5'
    color: #ffe694
.val-6::after
    content: '6'
    color: #c6b9ff
.val-7::after
    content: '7'
    color: #ff9074
.val-8::after
    content: '8'
    color: #ffffff